[user]
  name = spearkkk
  email = spearkkp@gmail.com
[push]
  autoSetupRemote = true
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[help]
  autocorrect = 1
[tags]
  sort = version:refname
[color]
  ui = auto
[fetch]
  all = true
[pull]
  rebase = true
[core]
  excludesfile = ~/gitignore
  autocrlf = input
[includeIf "gitdir:/Users/al02494219/Projects/**"]
  path = ~/.gitconfig-work
